# Python
__pycache__/

# Ren'Py
game/python-packages/
lib/
renpy/
*.rpa
*.rpyb
*.rpyc
*.save
*.tab
log.txt
errors.txt
traceback.txt
project.json
persistent
screenshot*.png

# Monika After Story
characters/
chess_games/
gui/
log/
/game/mod_assets/*
update/
*.icns
*.ico
DDLC.*
COPYRIGHT.txt
firstrun
masrun
README.html

# VSCode
.history/
.vscode/

# ddlc-mas-jp-patch
!/game/mod_assets/font
/DDLC_MAS_JP_*
sdk/
unrpyc/
*.orig
